<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.springbootmybatistx.dao.UserMapper">

    <resultMap id="UserResult" type="com.li.springbootmybatistx.model.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="money" property="money"/>
    </resultMap>

    <update id="updateUser">
        UPDATE user set money=#{money} WHERE id=#{id}
    </update>

</mapper>